<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <appSettings>
      <add key="ReleaseID" value ="32673436"/>
      <add key="Version" value =""/> 
      <add key="CustomerID" value ="34ac86cf49e51b6ed3d69228514c1865"/>
    </appSettings>
  
  
</configuration>
